<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Web Page!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            img {
                background-color: rgb(255, 106, 0);
                margin: 2px;
                padding: 2px;
                width: 200px;
            }
        </style>
    </head>
    <body>
        <div class="grid">
            <div class="grid-item">1</div>
            <div class="grid-item">2</div>
            <div class="grid-item">3</div>
            <div class="grid-item">4</div>
            <div class="grid-item">5</div>
            <div class="grid-item">6</div>
            <div class="grid-item">7</div>
            <div class="grid-item">8</div>
            <div class="grid-item">9</div>
            <div class="grid-item">10</div>
            <div class="grid-item">11</div>
            <div class="grid-item">12</div>
        </div>
        <div class="grid">
            <div class="grid-item"><img src="1.jpeg"></div>
            <div class="grid-item"><img src="2.jpeg"></div>
            <div class="grid-item"><img src="3.jpeg"></div>
            <div class="grid-item"><img src="4.jpeg"></div>
            <div class="grid-item"><img src="5.jpeg"></div>
            <div class="grid-item"><img src="6.jpeg"></div>
            <div class="grid-item"><img src="7.jpeg"></div>
            <div class="grid-item"><img src="8.jpeg"></div>
            <div class="grid-item"><img src="9.jpeg"></div>
            <div class="grid-item"><img src="10.jpeg"></div>
            <div class="grid-item"><img src="11.jpeg"></div>
            <div class="grid-item"><img src="12.jpeg"></div>
        </div>
    </body>
</html>

